<!DOCTYPE html>

<html lang="{{ locale }}">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Erin Besseau Art</title>
    <meta name="description" content=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Yantramanav:100,300,400,500,700,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/static/css/hydrogen.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/hydrogen.vars.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#307a9b">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body data-h2-font-family="b(sans)">
    {{ content | safe }}
    <script src="/static/js/app.js"></script>
  </body>

</html>