<!DOCTYPE html>

<html lang="{{ locale }}">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Yantramanav:100,300,400,500,700,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/static/css/hydrogen.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/hydrogen.vars.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
  </head>

  <body data-h2-font-family="b(sans)">
    {{ content | safe }}
    <script src="/static/js/app.js"></script>
  </body>

</html>