{{ define "main" }}
	<main aria-role="main">
		<div data-c-padding="tb(2)" data-c-overlay="c2(90)" style="background-image: url('{{ .Params.header }}');" data-c-align="base(center) tl(left)">
            <div data-c-container="large">
                {{ $arrowLeftWhite := resources.Get "images/icons/chevron-left-white.svg" }}
                <a class="anchor-icon" data-c-color="white" href="/"><img src="{{ $arrowLeftWhite.Permalink }}" alt="A left arrow."><span>Return Home</span></a>
                <h1 data-c-font-size="h1" data-c-font-weight="bold" data-c-color="c4" data-c-margin="tb(1)">{{ .Title }}</h1>
                <p data-c-margin="top(1)" data-c-color="white">{{ .Params.size }} | {{ .Params.media }} on {{ .Params.canvas }}.</p>
            </div>
        </div>
        <div>
            <div data-c-container="large" data-c-padding="tb(3)">
                <div data-c-grid="gutter(all, 2)">
                    <div data-c-grid-item="tl(3of5)">
                        <a href="{{ .Params.main }}" title="" target="_blank">
                            <img src="{{ .Params.main }}" alt="" data-c-radius="rounded">
                        </a>
                    </div>
                    <div data-c-grid-item="tl(2of5)">
                        <div class="post-cta" data-c-padding="all(1)" data-c-radius="rounded" data-c-margin="bottom(2)" data-c-color="white" data-c-align="base(center) tl(left)">
                            {{ if (eq .Params.sale true) }}
                                <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">{{ .Params.title }} is currently for sale.</p>
                                <p data-c-margin="bottom(1)">Price: ${{ .Params.price }}</p>
                                <p data-c-margin="bottom(1)">Get in touch with Erin to discuss purchasing this piece.</p>
                                <a data-c-button="outline(white)" data-c-radius="rounded" href="mailto:erinbesseau@gmail.com" title="Open your default mail client and email Erin.">Get in Touch</a>
                            {{ else }}
                                <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">{{ .Params.title }} is no longer for sale.</p>
                                <p data-c-margin="bottom(1)">Unfortunately this piece is no longer available, however Erin does commission work. If you're interested in commissioning a piece, use the button below to get in contact.</p>
                                <a data-c-button="outline(white)" data-c-radius="rounded" href="mailto:erinbesseau@gmail.com" title="Open your default mail client and email Erin.">Get in Touch</a>
                            {{ end }}
                        </div>
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
	</main>
{{ end }}
