<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {{ block "title" . }}
                {{ .Site.Title }}
            {{ end }}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Yantramanav:100,300,400,500,700,900&display=swap" rel="stylesheet"> 
        {{ $scss := resources.Get "scss/app.scss" | toCSS }}
        <link rel="stylesheet" href="{{ $scss.Permalink }}">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97077222-4"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-97077222-4');
        </script>
    </head>
    <body data-clone>
        <!-- Code that all your templates share, like a header -->
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}
    </body>
</html>