{{ define "main" }}
	<main aria-role="main">
		{{ $hero := resources.Get "images/erin-besseau-silica-nodule.jpg" }}
		<header data-c-overlay="c2(90)" data-c-padding="tb(2)" style="background-image: url('{{ $hero.Permalink }}');">
            <span class="flourish"></span>
			<div data-c-container="medium">
				<div data-c-grid="gutter(all, 3) middle">
					<div data-c-grid-item="tl(2of5)">
						<div>
							{{ $profile := resources.Get "images/erin-headshot.jpg" }}
							<img class="hero-profile" src="{{ $profile.Permalink }}" alt="Erin's profile photo.">
						</div>
					</div>
					<div data-c-grid-item="tl(3of5)">
						<div data-c-align="base(center) tl(left)">
							<h1 data-c-font-size="h1" data-c-color="white" data-c-font-weight="" data-c-font="serif">Erin Besseau</h1>
							<p data-c-color="white" data-c-margin="top(.5)">Erin Besseau is an abstract painter living in Ottawa Ontario, Canada.</p>
                            <hr data-c-hr="thin(c4)" data-c-margin="tb(.5)">
							<p data-c-color="white" data-c-margin="top(.5)">Working with abstract organic forms as well as deliberate geometric designs, Besseau finds inspiration from the world around her. Playing with colours found in nature, she attempts to balance the fluidity of natural forms with intentional, rigid line.</p>
							<p data-c-color="white" data-c-margin="top(.5)">Currently, she is focusing on creating abstract paintings which attempt to describe a feeling of the longing of places once known. Through the exploration of colour and shape, the forms that emerge in her art show a contrast between organic fluid form and rigid line. These aspects represent the fluid concept of memory and the harsh reality of time. She is 2017 Alumnus of NSCAD University.</p>
                            <p data-c-color="white" data-c-margin="tb(1)">
                                <a class="social-icon" href="https://www.instagram.com/erinbesseau.art/" title="Visit Erin on Instagram.">
                                    {{ $instagram := resources.Get "images/icons/instagram-white.svg" }}
                                    <img src="{{ $instagram.Permalink }}" alt="The Instagram icon, supplied by Font Awesome.">
                                </a>
                                <a class="social-icon" href="https://www.facebook.com/erinbesseau.a" title="Visit Erin on Facebook.">
                                    {{ $facebook := resources.Get "images/icons/facebook-white.svg" }}
                                    <img src="{{ $facebook.Permalink }}" alt="The Facebook icon supplied by Font Awesome.">
                                </a>
                                <a class="social-icon" href="https://twitter.com/ErinBesseau" title="Visit Erin on Twitter.">
                                    {{ $twitter := resources.Get "images/icons/twitter-white.svg" }}
                                    <img src="{{ $twitter.Permalink }}" alt="The Twitter icon supplied by Font Awesome.">
                                </a>
                            </p>
                            {{ $arrowDownWhite := resources.Get "images/icons/chevron-down-white.svg" }}
                            <a class="anchor-icon" href="#posts" title="View Erin's pieces." data-c-color="c4"><span>View Erin's Work</span><img src="{{ $arrowDownWhite.Permalink }}" alt="A down arrow."></a>
						</div>
					</div>
				</div>
			</div>
		</header>
        {{/* Posts */}}
        <div data-c-padding="bottom(3)">
            <div data-c-container="large">
                <span id="posts"></span>
                <h2 data-c-font-size="h2" data-c-padding="top(3)" data-c-margin="bottom(2)" data-c-font="serif">Recent Work</h2>
                <div data-c-grid="gutter(all, 2)">
                {{ with .Site.GetPage "section" "work" }}
                    {{ range .Pages }}
                        <div data-c-grid-item="tp(1of2) tl(1of3)">
                            <a class="index-work"  href="{{ .Permalink }}" style="background-image: url('{{ .Params.main }}')" data-c-padding="all(4)"></a>
                        </div>
                    {{ end }}
                {{ end }}
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
	</main>
{{ end }}
