<div 
  data-h2-container="b(center, medium)"
  data-h2-padding="b(x2) m(x2, 0)"
  data-h2-text-align="b(center) s(left)">
  <div data-h2-flex-grid="b(center, 0, x1)">
    <div
      data-h2-order="b(2) s(1)" 
      data-h2-flex-item="b(1of1) s(fill)">
      <nav>
        <ul
          data-h2-list-style="b(none)"
          data-h2-padding="b(0)"
          data-h2-font-size="b(h6)">
          <li
            data-h2-margin="b(0, x.5) s(0, x1, 0, 0)" 
            data-h2-display="b(inline-block)">
            <a
              href="/"
              title="Return to the homepage."
              data-h2-color="b(white) b:hover(accent)"
              data-h2-transition="b(color, .2s, ease, 0s)"
              data-h2-font-weight="b(300)">Home</a>
          </li>
          <li
            data-h2-margin="b(0, x.5) s(0, x1, 0, 0)" 
            data-h2-display="b(inline-block)">
            <a
              href="/#main"
              title="View Erin's recent work."
              data-h2-color="b(white) b:hover(accent)"
              data-h2-transition="b(color, .2s, ease, 0s)"
              data-h2-font-weight="b(300)">Artwork</a>
          </li>
          <li
            data-h2-margin="b(0, x.5) s(0, x1, 0, 0)" 
            data-h2-display="b(inline-block)">
            <a
              href="mailto:{{ site.email }}"
              title="Send an email to Erin."
              data-h2-color="b(white) b:hover(accent)"
              data-h2-transition="b(color, .2s, ease, 0s)"
              data-h2-font-weight="b(300)">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div
      data-h2-order="b(1) s(2)" 
      data-h2-flex-item="b(1of1) s(content)">
      <a
        href="/"
        title="Return to the homepage."
        data-h2-display="b(inline-block)">
        <img
          alt=""
          src="/static/img/icons/bee-white.png"
          data-h2-display="b(block)"
          data-h2-width="b(x3)"></a>
    </div>
  </div>
</div>